/* Try different box model properties below */
p:last-child {
  color: white;
}
body {
  margin-bottom: 0px;
}
p:first-child {
  font-size: 12px;
  text-align: center;
  color: black;
}
a[href*="media"] {
  box-shadow: 4px 4px 0 #dba944;
}
