/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.message__time {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 4px solid blue;
}
.message--old {
  opacity: 0.2;
}
.message {
  line-height: 3;
}
